/* =========
Your custom styles go here
 ========= */
.fa-badge-lg {
	right:0.8em;
	top: -0.7em;
}
.fa-badge-2x {
	right:0.5em;
	top: -1.3em;
}
.fa-badge-tab-2x {
	right:-1em;
	top: -2.2em;
}
.fa-layers-counter {
    height: 1.1em;
    right: -0.3em;
    font-size: 1.7em;
}
/*.md .navbar+.toolbar:not(.toolbar-bottom-md):not(.messagebar) {
  top: 56px;
}*/
.md .navbar.navbar-hidden+.toolbar:not(.toolbar-bottom-md):not(.messagebar) {
    -webkit-transform: translate3d(0,-64px,0);
    transform: translate3d(0,-64px,0);
    }
.md .data-table td, .md .data-table th {
    padding-left: 3px;
    padding-right: 3px;
  }
.md .dialog-buttons-vertical .dialog-buttons .dialog-button {
	    text-transform: none;
	    text-align: center;
}
